In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import calendar as cld
import mysql.connector  
import numpy as np

Coonecting to MySQL server to get refined table data

In [2]:
try:
    cnx = mysql.connector.connect(user='root', password='Be2502312Bit$',
                              host='localhost',
                              database='cricket_ipl')
    query = "select * from all_matches;"
    ipl_df = pd.read_sql(query, cnx)
except Exception as e:
    print(str(e))
finally:
     cnx.close()

C:\Users\umang\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [3]:
ipl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                225954 non-null  object
 1   season                  225954 non-null  object
 2   start_date              225954 non-null  object
 3   venue                   225954 non-null  object
 4   innings                 225954 non-null  int64
 5   ball                    225954 non-null  object
 6   batting_team            225954 non-null  object
 7   bowling_team            225954 non-null  object
 8   striker                 225954 non-null  object
 9   non_striker             225954 non-null  object
 10  bowler                  225954 non-null  object
 11  runs_off_bat            225954 non-null  object
 12  extras                  225954 non-null  object
 13  wides                   225954 non-null  object
 14  noballs                 225954 non-null  object
 15  byes                    225954 non-null  object
 16  legbyes                 225954 non-null  object
 17  penalty                 225954 non-null  object
 18  wicket_type             225954 non-null  object
 19  player_dismissed        225954 non-null  object
 20  other_wicket_type       225954 non-null  object
 21  other_player_dismissed  225954 non-null  object
 22  over_number             225954 non-null  object
 23  ball_number             225954 non-null  object
 24  total_runs_per_ball     225954 non-null  object
dtypes: int64(1), object(24)
memory usage: 43.1+ MB

Replacing null values with 0

In [4]:
ipl_df[['wides','noballs','byes','legbyes','penalty']] = ipl_df[['wides','noballs','byes','legbyes','penalty']
                                                               ].replace(to_replace='',value = '0')

Changing data types of columns

In [5]:
ipl_df['match_id'] = pd.to_numeric(ipl_df.match_id)
ipl_df['season'] = pd.to_numeric(ipl_df.season)
ipl_df['start_date'] = pd.to_datetime(ipl_df.start_date)
ipl_df['runs_off_bat'] = pd.to_numeric(ipl_df.runs_off_bat)
ipl_df['extras'] = pd.to_numeric(ipl_df.extras)
ipl_df['wides'] = pd.to_numeric(ipl_df.wides)
ipl_df['noballs'] = pd.to_numeric(ipl_df.noballs)
ipl_df['byes'] = pd.to_numeric(ipl_df.byes)
ipl_df['legbyes'] = pd.to_numeric(ipl_df.legbyes)
ipl_df['penalty'] = pd.to_numeric(ipl_df.penalty)
ipl_df['over_number'] = pd.to_numeric(ipl_df.over_number)
ipl_df['total_runs_per_ball'] = pd.to_numeric(ipl_df.total_runs_per_ball)
ipl_df['ball_number'] = pd.to_numeric(ipl_df.ball_number)
ipl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                225954 non-null  int64
 1   season                  225954 non-null  int64
 2   start_date              225954 non-null  datetime64[ns]
 3   venue                   225954 non-null  object
 4   innings                 225954 non-null  int64
 5   ball                    225954 non-null  object
 6   batting_team            225954 non-null  object
 7   bowling_team            225954 non-null  object
 8   striker                 225954 non-null  object
 9   non_striker             225954 non-null  object
 10  bowler                  225954 non-null  object
 11  runs_off_bat            225954 non-null  int64
 12  extras                  225954 non-null  int64
 13  wides                   225954 non-null  int64
 14  noballs                 225954 non-null  int64
 15  byes                    225954 non-null  int64
 16  legbyes                 225954 non-null  int64
 17  penalty                 225954 non-null  int64
 18  wicket_type             225954 non-null  object
 19  player_dismissed        225954 non-null  object
 20  other_wicket_type       225954 non-null  object
 21  other_player_dismissed  225954 non-null  object
 22  over_number             225954 non-null  int64
 23  ball_number             225954 non-null  float64
 24  total_runs_per_ball     225954 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(12), object(11)
memory usage: 43.1+ MB

Deleting unwanted columns

In [6]:
ipl_df.drop(['other_player_dismissed', 'other_wicket_type'], axis = 1, inplace = True)

In [7]:
ipl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 23 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   match_id             225954 non-null  int64
 1   season               225954 non-null  int64
 2   start_date           225954 non-null  datetime64[ns]
 3   venue                225954 non-null  object
 4   innings              225954 non-null  int64
 5   ball                 225954 non-null  object
 6   batting_team         225954 non-null  object
 7   bowling_team         225954 non-null  object
 8   striker              225954 non-null  object
 9   non_striker          225954 non-null  object
 10  bowler               225954 non-null  object
 11  runs_off_bat         225954 non-null  int64
 12  extras               225954 non-null  int64
 13  wides                225954 non-null  int64
 14  noballs              225954 non-null  int64
 15  byes                 225954 non-null  int64
 16  legbyes              225954 non-null  int64
 17  penalty              225954 non-null  int64
 18  wicket_type          225954 non-null  object
 19  player_dismissed     225954 non-null  object
 20  over_number          225954 non-null  int64
 21  ball_number          225954 non-null  float64
 22  total_runs_per_ball  225954 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(12), object(9)
memory usage: 39.6+ MB

Saving dataframe to csv file

In [8]:
ipl_df.to_csv('all_matches.csv')